alpaca-py==0.40.1
cryptography>=42
fastapi==0.115.6
httpx==0.28.1
mcp==1.2.0
numpy==2.2.1
pydantic-settings==2.7.1
pydantic==2.10.5
python-dotenv==1.0.1
pytz==2025.2
scipy==1.15.1
uvicorn[standard]==0.34.0
websockets==14.1
